[mysqld]
# 1.禁止域名解析
skip-host-cache

# 2.禁用dns解析，但是，这样不能在mysql的授权表中使用主机名了，只能使用IP。
skip-name-resolve

# 数据库编号, 要具有唯一性, 不能跟其他数据库重复, 方便同步区分
server-id = 22

# mysql日志
log_bin = /var/log/mysql/mysql-bin.log

# 中继日志：存储所有主库TP过来的binlog事件主库binlog：记录主库发生过的修改事件
relay-log = /var/log/mysql/mysql-relay-bin.log

character_set_server=utf8mb4
collation-server=utf8mb4_general_ci

# 要同步的库
binlog_do_db = cluster_db
# 多库同步
#binlog_do_db = cluster_db1
#binlog_do_db = cluster_db2